<div class="event_container">
  <div class="event">
    <h1>Descrição do evento</h1>
    <h2>{{ event.description }}</h2>
  </div>
  <div>
    <div>
      <h2>Data início:</h2>
      <span>{{ formatDate(event.startTime) }}</span>
    </div>
    <div>
      <h2>Data fim:</h2>
      <span>{{ formatDate(event.endTime) }}</span>
    </div>
  </div>
  <div class="members-list">
    <h2>Membros:</h2>
    @for (member of event.members; track $index) {
      <span>{{ member.name }}</span>
    }
  </div>

  @if (showActions) {
    <div class="actions">
      <button class="edit-button" (click)="showUpdateForm()">Editar</button>
      <button class="invite-button" (click)="showInviteForm()">Convidar</button>
      <button class="delete-button" (click)="showDeleteConfirmation()">Excluir</button>
    </div>
  }
  <div>
      <div class="update_container" [class.visible]="showUpdate">
        <form [formGroup]="form" (submit)="update()" class="form_update">
          <div>
            <label for="description">Descrição: </label>
            <input id="description" type="text" formControlName="description" placeholder="Esse evento vai ser sobre música....">
          </div>
          <div>
            <label for="startTime">Data início: </label>
            <input id="startTime" type="datetime-local" formControlName="startTime">
          </div>
          <div>
            <label for="endTime">Data fim: </label>
            <input id="endTime" type="datetime-local" formControlName="endTime">
          </div>
          <div>
            <button>Atualizar Evento</button>
            <button type="button" class="cancel-button" (click)="hideUpdateForm()">Cancelar</button>
          </div>
        </form>
      </div>
    
  
      <div class="confirm-delete" [class.visible]="showDelete">
        <h1>Deseja excluir esse evento?</h1>
        <button (click)="deleteEvent()">Sim</button>
        <button (click)="hideDeleteConfirmation()">Não</button>
      </div>
    
  
      <div class="invite-container" [class.visible]="showInvite">
        <form class="invite-form" [formGroup]="formInvite" (submit)="confirmInvite()">
          <label for="documentReceiver">Informe o documento da pessoa que deseja convidar:</label>
          <input id="documentReceiver" formControlName="documentReceiver" type="text" placeholder="123456789">
          <button type="submit">Confirmar</button>
        </form>
      </div>
    
  </div>
</div>